<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JSDoc</string>
	<key>uuid</key>
	<string>BA48AB46-D1EA-48FF-95AE-D10FE93978F9</string>
</dict>
</plist>
